<mat-toolbar color="primary">
 <a [routerLink]="PATHS.HOME" [state]="{resetPagination: true}"
  class="text-light text-decoration-none">My messages</a>
 <div flexLayout fxFlex fxLayoutAlign="end none">
   <nav>
    <button mat-button [routerLink]="PATHS.SIGN_UP"
      routerLinkActive #rlaSignUp="routerLinkActive" [disabled]="rlaSignUp.isActive"
      *ngIf="!isAuthenticated">Sing Up</button>
    <button mat-button [routerLink]="PATHS.SIGN_IN"
      routerLinkActive #rlaSignIn="routerLinkActive" [disabled]="rlaSignIn.isActive"
      *ngIf="!isAuthenticated">Login</button>
    <button mat-button (click)="onSignOut()" *ngIf="isAuthenticated">Logout</button>
  </nav>
</div>
</mat-toolbar>
