<div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.gt-xs="10px">
  <div fxFlex.gt-xs="25">
    <app-image-picker [imagePreview]="imagePreview"
      (imageChange)="onImageChange($event)" (imageError)="onImageError($event)">
    </app-image-picker>
  </div>
  <mat-card fxFlex="grow" fxFlex.gt-xs="50" fxFlexOrder.xs="1">
    <!-- <form (submit)="onSavePost(postForm)" #postForm="ngForm" fxLayout="column"> -->
    <form [formGroup]="form" (submit)="onSave()" fxLayout="column" fxLayoutAlign="space-between" fxFill>
      <div fxLayout="column">
        <mat-form-field>
          <!-- <input matInput placeholder="Title" type="text" name="title" [ngModel]="post?.title" #title="ngModel" required> -->
          <input matInput placeholder="Title" type="text" formControlName="title" required>
          <mat-error *ngIf="form.get('title').invalid">Required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <!-- <textarea matInput cdkTextareaAutosize placeholder="Content" name="content" [ngModel]="post?.content" #content="ngModel" required></textarea> -->
          <textarea matInput cdkTextareaAutosize placeholder="Content" formControlName="content" required></textarea>
          <mat-error *ngIf="form.get('content').invalid">Required</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout fxLayoutAlign="space-between center">
        <div fxLayout>
          <mat-error [@fadeAnimation]="formErrorState">{{formErrorMessage}}</mat-error>
          <mat-hint [@fadeAnimation]="formHintState">{{formHintMessage}}</mat-hint>
        </div>
        <div>
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || form.disabled || isImageUploading">Save Post</button>
          <button mat-raised-button color="warn" type="button" (click)="onDelete()" *ngIf="modeTypes.edit === mode" class="ml-2"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
    </form>
  </mat-card>
</div>