<mat-toolbar class="border-bottom shadow-sm h-auto py-2"
  fxLayout fxLayoutAlign="space-between" *ngIf="modeTypes.edit === mode">
  <div></div>
  <div>
    <button mat-mini-fab color="warn" (click)="onDelete()" class="shadow-none">
      <mat-icon class="shadow-none">delete</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center" fxLayoutGap.gt-xs="10px" ngClass.xs="h-100" ngClass.gt-xs="p-4">
  <div fxFlex="40" fxFlex.gt-xs="25">
    <app-image-picker
      [imagePreview]="imagePreview"
      (imageChange)="onImageChange($event)"
      (imageError)="onImageError($event)">
    </app-image-picker>
  </div>
  <mat-card fxFlex="grow" fxFlex.sm="75" fxFlex.gt-sm="50" fxFlexOrder.xs="1" ngClass.xs="rounded-0">
    <!-- <form (submit)="onSavePost(postForm)" #postForm="ngForm" fxLayout="column"> -->
    <form fxLayout="column" fxLayoutAlign.gt-xs="space-between" [formGroup]="form" (submit)="onSave()">
      <div fxLayout="column">
        <mat-form-field>
          <!-- <input matInput placeholder="Title" type="text" name="title" [ngModel]="post?.title" #title="ngModel" required> -->
          <input matInput placeholder="Title" type="text" formControlName="title" required>
          <mat-error *ngIf="form.get('title').invalid">Required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <!-- <textarea matInput cdkTextareaAutosize placeholder="Content" name="content" [ngModel]="post?.content" #content="ngModel" required></textarea> -->
          <textarea matInput cdkTextareaAutosize placeholder="Content" formControlName="content" required></textarea>
          <mat-error *ngIf="form.get('content').invalid">Required</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout fxLayoutAlign="space-between center">
        <div fxLayout>
          <mat-error [@fadeAnimation]="formErrorState">{{formErrorMessage}}</mat-error>
          <mat-hint [@fadeAnimation]="formHintState">{{formHintMessage}}</mat-hint>
        </div>
        <div>
          <button mat-raised-button type="button" class="ml-2" [routerLink]="'/' + PATHS.POSTS.ROOT">Cancel</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || form.disabled || isImageUploading" class="ml-2">Save Post</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>