<mat-toolbar fxLayout fxLayoutAlign="space-between center" color="primary">
  <div fxLayout fxLayoutAlign="start center">
    <button mat-icon-button aria-label="Menu" (click)="menuClicked.emit(true)"
      class="ml-n3" ngClass.gt-xs="d-none" *ngIf="isAuthenticated" #menuButton>
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="PATHS.HOME" class="text-light text-decoration-none">Main Course</a>
  </div>
  <nav>
    <a class="mat-body-strong text-decoration-none text-white mr-3"
      [routerLink]="PATHS.AUTH.ROOT + '/' + PATHS.AUTH.SIGN_IN" *ngIf="!isAuthenticated">Log in</a>
    <button mat-flat-button color="accent"
      [routerLink]="PATHS.AUTH.ROOT + '/' + PATHS.AUTH.SIGN_UP" *ngIf="!isAuthenticated">Sing Up</button>
    <ng-container *ngIf="isAuthenticated && user">
      <div [matMenuTriggerFor]="menu" ngClass.xs="d-none">
        <img height="40" class="border rounded-circle bg-white _cursor-pointer"
          [src]="user.imagePath" [alt]="menu" *ngIf="user.imagePath">
        <button mat-mini-fab color="accent" aria-label="menu" *ngIf="!user.imagePath">
          <mat-icon>person</mat-icon>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="PATHS.ACCOUNT.ROOT">
          <mat-icon>account_circle</mat-icon> Account
        </button>
        <button mat-menu-item (click)="onSignOut()">
          <mat-icon>power_settings_new</mat-icon> Log out
        </button>
      </mat-menu>
    </ng-container>
  </nav>
</mat-toolbar>
