<input type="file" accept="image/*" class="invisible position-fixed"
    [disabled]="!isEditable || isCompressing" (change)="onImagePicked($event)" #filePicker>

<div fxLayout="column" fxLayoutAlign="center" class="h-100">
  <div (click)="isEditable && filePicker.click()"
    class="position-relative"
    [ngClass]="imagePreview ? class : [class, placeholderClass]"
    [class._cursor-pointer]="isEditable && !isCompressing">
    <div fxLayout fxLayoutAlign="center center" class="position-absolute h-100 w-100">
      <img ngClass.xs="h-100" ngClass.gt-xs="h-100" [src]="imagePreview" alt="image-preview"
        *ngIf="imagePreview && !isCompressing">
      <span *ngIf="imagePreview && isCompressing">Uploading...</span>
      <mat-icon *ngIf="!imagePreview">{{placeholderIcon}}</mat-icon>
    </div>
  </div>
  <div class="w-100" *ngIf="isEditable">
    <button mat-stroked-button type="button" (click)="filePicker.click()" class="bg-white w-100"
      [ngClass]="buttonClass" *ngIf="!imagePreview">
        Pick Image
    </button>
    <button mat-stroked-button color="warn" type="button" (click)="onDeleteImage()" class="bg-white w-100"
      [ngClass]="buttonClass" *ngIf="imagePreview" [disabled]="isCompressing">
        Delete Image
    </button>
  </div>
</div>