@import 'variables/bootstrap-custom.scss';

.rounded-circle {
  padding-bottom: 100%;
  overflow: hidden;
}

mat-icon {
  font-size: 6vw;
  width: auto;
  height: auto;

  @media screen and (max-width: map-get($grid-breakpoints, sm) - 1) {
    font-size: 50px;
  }
}