/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-utilities";
@import "~bootstrap-reboot";

/* Extra Bootstrap Utilities not included on the package */
.text-decoration-none { text-decoration: none !important; }

/* Custom classes */
._cursor-pointer { cursor: pointer !important; }
._text-pre { white-space: pre; }