/* You can add global styles to this file, and also import other style files */
._cursor-pointer { cursor: pointer !important; }
._text-pre { white-space: pre; }
._fixed_center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}