<div fxLayout fxLayoutAlign="center" ngClass.xs="h-100">
  <mat-card fxFlex="100" fxFlex.gt-xs="350px" ngClass.xs="rounded-0">
    <h1>Change Password</h1>
    <form fxLayout="column" [formGroup]="form" (submit)="onSave()" #formDirective="ngForm">
      <mat-form-field>
        <input matInput placeholder="Password" [type]="isShowPassword[0] ? 'text' : 'password'"
          formControlName="password" autocomplete="on">
        <button mat-icon-button matSuffix type="button" (click)="isShowPassword[0] = !isShowPassword[0]"
          [attr.aria-label]="(isShowPassword[1] ? 'Hide' : 'Show') + 'password'" [attr.aria-pressed]="isShowPassword[0]">
          <mat-icon>{{isShowPassword[0] ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password').invalid">Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="New password" [type]="isShowPassword[1] ? 'text' : 'password'"
          formControlName="newPassword" autocomplete="off">
        <button mat-icon-button matSuffix type="button" (click)="isShowPassword[1] = !isShowPassword[1]"
          [attr.aria-label]="(isShowPassword[1] ? 'Hide' : 'Show') + 'password'" [attr.aria-pressed]="isShowPassword[1]">
          <mat-icon>{{isShowPassword[1] ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('newPassword').errors?.required">Required</mat-error>
        <mat-error *ngIf="form.get('newPassword').errors?.minlength">Password must be at least 8 characters.</mat-error>
        <mat-error *ngIf="form.get('newPassword').errors?.maxlength">Password must be 32 characters maximum.</mat-error>
        <mat-error *ngIf="form.get('newPassword').errors?.misMatch">New password must be different to the password above.</mat-error>
        <mat-error *ngIf="form.get('newPassword').errors?.pattern &&
          !(form.get('newPassword').errors?.minlength || form.get('newPassword').errors?.maxlength)">
          Please, increase the Password strength.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Confirm new password" [type]="isShowPassword[2] ? 'text' : 'password'"
          formControlName="confirmNewPassword" autocomplete="off">
        <button mat-icon-button matSuffix type="button" (click)="isShowPassword[2] = !isShowPassword[2]"
          [attr.aria-label]="(isShowPassword[2] ? 'Hide' : 'Show') + 'password'" [attr.aria-pressed]="isShowPassword[2]">
          <mat-icon>{{isShowPassword[2] ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('confirmNewPassword').errors?.required">Required</mat-error>
        <mat-error *ngIf="form.get('confirmNewPassword').errors?.misMatch">Passwords must match.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.disabled">Update</button>
    </form>
  </mat-card>
</div>