<mat-card>
  <form fxLayout="column" [formGroup]="form" (submit)="onSave()">
    <mat-form-field>
      <input matInput placeholder="Password" [type]="isShowPassword[0] ? 'text' : 'password'" formControlName="password">
      <button mat-icon-button matSuffix type="button" (click)="isShowPassword[0] = !isShowPassword[0]"
        [attr.aria-label]="(isShowPassword[1] ? 'Hide' : 'Show') + 'password'" [attr.aria-pressed]="isShowPassword[0]">
        <mat-icon>{{isShowPassword[0] ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password').invalid">Required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="NewPassword" [type]="isShowPassword[1] ? 'text' : 'password'" formControlName="newPassword">
      <button mat-icon-button matSuffix type="button" (click)="isShowPassword[1] = !isShowPassword[1]"
        [attr.aria-label]="(isShowPassword[1] ? 'Hide' : 'Show') + 'password'" [attr.aria-pressed]="isShowPassword[1]">
        <mat-icon>{{isShowPassword[1] ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('newPassword').invalid">Required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" [type]="isShowPassword[2] ? 'text' : 'password'" formControlName="confirmNewPassword">
      <button mat-icon-button matSuffix type="button" (click)="isShowPassword[2] = !isShowPassword[2]"
        [attr.aria-label]="(isShowPassword[2] ? 'Hide' : 'Show') + 'password'" [attr.aria-pressed]="isShowPassword[2]">
        <mat-icon>{{isShowPassword[2] ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('confirmNewPassword').errors?.required">Required</mat-error>
      <mat-error *ngIf="form.get('confirmNewPassword').errors?.misMatch">Passwords must match.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.disabled">Update</button>
  </form>
</mat-card>