<header #header>
  <app-header (menuClicked)="drawer.toggle()" [menuLinks]="headerSidenavLinks"></app-header>
</header>
<main fxLayout [style.minHeight]="isDomReady ? ( (header.offsetHeight + footer.offsetHeight) | calc ) : 'auto'"
  [class.invisible]="!(isDomReady && !isLoading)" #main>
  <mat-drawer-container fxFlex="grow">
    <mat-drawer position="start" fixedInViewport="true" autoFocus="false" [attr.role]="bpState.breakpoints[Breakpoints.XSmall] ? 'dialog' : 'navigation'"
      [mode]="bpState.breakpoints[Breakpoints.XSmall] ? 'over' : 'side'" [opened]="!bpState.matches"
      [class.w-75]="bpState.breakpoints[Breakpoints.XSmall]" #drawer>
      <app-sidebar [sidenavLinks]="bpState.breakpoints[Breakpoints.XSmall] ? headerSidenavLinks : toolbarSidenavLinks" (linkClicked)="onLinkClicked($event)"></app-sidebar>
    </mat-drawer>
    <mat-drawer-content class="overflow-hidden">
      <mat-toolbar *ngIf="bpState.breakpoints[Breakpoints.Small] && toolbarSidenavLinks" class="border-bottom shadow-sm">
        <button mat-icon-button aria-label="Menu" (click)="drawer.toggle()" #menuButton>
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</main>
<footer #footer>
  <app-footer></app-footer>
</footer>

<app-loading class="_fixed_center" *ngIf="isDomReady || isLoading"></app-loading>